{% extends "base.html" %}

{% block content %}

<h1>Inventario de Servidores Virtuales</h1>

<div class="d-flex justify-content-between mb-3">

<h2>Inventario de Servidores Virtuales</h2>

{% if es_admin %}

<a href="{% url 'agregar_virtual' %}" class="btn btn-success">
Agregar Servidor
</a>

<a href="{% url 'subir_csv' %}" class="btn btn-info mb-3">
Subir archivo CSV
</a>

{% endif %}

</div>

<form method="GET" class="row mb-3">

<div class="col-md-4">

<input type="text" name="q" class="form-control"
placeholder="Buscar servidor..."
value="{{ query|default:'' }}">

</div>

<div class="col">

<button class="btn btn-primary">Buscar</button>

</div>

</form>

<table class="table table-striped table-bordered">

<thead class="table-dark">

<tr>

<th>Nombre</th>
<th>IP Interna</th>

{% if es_admin %}

<th>Hipervisor</th>
<th>OS</th>
<th>Sede</th>
<th>CPU</th>
<th>RAM</th>
<th>Almacenamiento</th>

{% else %}

<th>A Cargo</th>
<th>Descripción</th>

{% endif %}

{% if es_admin %}
<th>Acciones</th>
{% endif %}

</tr>

</thead>

<tbody>

{% for s in servidores %}

<tr>

<td>{{ s.nombre }}</td>
<td>{{ s.ip_int }}</td>

{% if es_admin %}

<td>{{ s.hipervizor }}</td>
<td>{{ s.sistema_operativo }}</td>
<td>{{ s.sede }}</td>
<td>{{ s.cpu }}</td>
<td>{{ s.memoria_ram }}</td>
<td>{{ s.almacenamiento }}</td>
<td>{{ s.documento }}</td>

{% else %}

<td>{{ s.a_cargo }}</td>
<td>{{ s.descripcion }}</td>

{% endif %}

{% if es_admin %}

<td>

<a href="{% url 'editar_virtual' s.id %}" class="btn btn-warning btn-sm">
Editar
</a>

<a href="{% url 'eliminar_virtual' s.id %}" class="btn btn-danger btn-sm">
Eliminar
</a>

</td>

{% endif %}

</tr>

{% endfor %}

</tbody>

</table>


<nav>

<ul class="pagination">

{% if servidores.has_previous %}

<li class="page-item">

<a class="page-link"
href="?page={{ servidores.previous_page_number }}">

Anterior

</a>

</li>

{% endif %}

<li class="page-item active">

<span class="page-link">

Página {{ servidores.number }} de {{ servidores.paginator.num_pages }}

</span>

</li>

{% if servidores.has_next %}

<li class="page-item">

<a class="page-link"
href="?page={{ servidores.next_page_number }}">

Siguiente

</a>

</li>

{% endif %}

</ul>

</nav>

{% endblock %}